aiohttp
aiosignal
aiosqlite
async-timeout
asyncpg
attrs
certifi
charset-normalizer
dateparser
frozenlist
greenlet
idna
iso8601
multidict
numpy
pandas
psycopg2-binary
pyarrow
pycryptodome
pypika-tortoise
python-binance
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
regex
requests
scipy
six
SQLAlchemy
tortoise-orm
typing_extensions
tzdata
tzlocal
ujson
urllib3
websockets
yarl
